# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# temporary
db/
dist/

dummy_db_data/
!*.tar.gz

*.log

ssh_keys
*.tar.gz
certificates
categories.yaml
*.xlsx
*.env
db_backup.sql
backup/
backup-data.sh
ssl_keys
fcm
ssl_keyspackage-lock.json
package-lock.json
